
*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #ffffff;
    background-image: url("../assets/img_fundo_login.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
}

.cardLogin{
    text-align: center;
    padding: 50px;
    background: rgba(255, 255, 255, 0.15); 
    border-radius: 20px;
    box-shadow: 0 0 18px rgba(0,0,0,0.2);
    width: 400px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}


input{
    border-radius: 15px;
    border: solid 1px #444;
    height: 45px;
    width: 100%;          
    margin-bottom: 18px;
    padding: 0 12px;
    font-size: 15px;
}

button{
    height: 45px;
    width: 60%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    background-color: black;
    margin-top: 10px;
    transition: .3s;
}

button:hover{
    opacity: .8;
}

.aLogin{
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
    color: #000;
}

.areaSocial{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}

.btnLogin{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: solid 1px #000;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.btnLogin:hover{
    opacity: .75;
}

.btnLogin img{
    width: 30px;
}
